.background {
  height: 1924px;
  background-image: url("../public/homepagebackground.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* Homepage Styles */

.homepageheader {
  font-family: Cormorant;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 60px;
}

.homepagesubtext {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #e2e2e2;
}

.imagecolumn {
  margin: 0 auto;
}

.ellipse {
  left: 8.28%;
  right: 85.93%;
  top: 15.29%;
  bottom: -3.53%;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(326.87deg, #f2f2f2 13.78%, rgba(242, 242, 242, 0.2) 93.08%);
  mix-blend-mode: overlay;
  backdrop-filter: blur(4px);
}

.cards1 {
  position: absolute;
  width: 160px;
  height: 240px;
  left: 106px;
  top: 450px;

  background: #c4c4c4;
  border-radius: 12px;
}

.cards2 {
  position: absolute;
  width: 160px;
  height: 240px;
  left: 284px;
  top: 450px;

  background: #c4c4c4;
  border-radius: 12px;
}
.cards3 {
  position: absolute;
  width: 160px;
  height: 240px;
  left: 462px;
  top: 450px;

  background: #c4c4c4;
  border-radius: 12px;
}
.cards4 {
  position: absolute;
  width: 160px;
  height: 240px;
  left: 640px;
  top: 450px;

  background: #c4c4c4;
  border-radius: 12px;
}
.cards5 {
  position: absolute;
  width: 160px;
  height: 240px;
  left: 818px;
  top: 450px;

  background: #c4c4c4;
  border-radius: 12px;
}

.cards6 {
  position: absolute;
  width: 160px;
  height: 240px;
  left: 996px;
  top: 450px;

  background: #c4c4c4;
  border-radius: 12px;
}

.cards7 {
  position: absolute;
  width: 160px;
  height: 240px;
  left: 1175px;
  top: 450px;

  background: #c4c4c4;
  border-radius: 12px;
}

.whatsyaname {
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  text-align: center;
  line-height: 453px;
  height: 50px;
  left: 400px;
  right: 400px;
  bottom: 389px;
  font-family: Cormorant;
  font-style: normal;

  color: rgba(241, 241, 241, 0.6);
}

.skipthisstep {
  position: absolute;
  width: 565px;
  height: 22px;
  right: 100px;
  top: 769px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  /* identical to box height */
  text-align: center;

  color: #e2e2e2;
}

.skipthisstepbutton {
  /* ellipse */
  position: absolute;
  left: 2000px;
  right: 100px;
  top: 769px;

  background: linear-gradient(
    65.03deg,
    #f2f2f2 11.85%,
    rgba(242, 242, 242, 0.3) 90.31%
  );
  mix-blend-mode: overlay;
  backdrop-filter: blur(4px);
  /* arrow */
  position: absolute;
  width: 100px;
  height: 100px;
  right: 0px;

  /* Gray 5 */
  border: 4px solid #e0e0e0;

  /* Gray 5 */
  border: 4px solid #e0e0e0;
}

.lovelytomeetyouname {
  position: absolute;
  width: 1068px;
  height: 48px;
  left: calc(50% - 1068px / 2 - 122px);
  top: calc(50% - 48px / 2 - 245px);

  font-family: Cormorant;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;

  color: #f1f1f1;
}

.whatwouldyouliketoexplore {
  position: absolute;
  width: 405px;
  height: 39px;
  left: 10px;
  top: 60px;

  font-family: Cormorant;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;

  /* identical to box height */

  color: #f1f1f1;
}
.bar {
  border: 2px solid #f1f1f1;
  position: absolute;

  width: 704.09px;
  height: 0px;
  left: 400px;
  top: 400px;
}
