.wrap {
  min-height: 100%;
}

.background {
  height: 2021px;
  background-image: url("../public/homepagebackground.svg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
  padding-bottom: 180px;
}
.onboardinggradientbackground {
  background: linear-gradient(180deg, #00021c 0%, #0b0e4b 100%);
  height: 1000px;
}
.gradientbackground {
  background: linear-gradient(180deg, #00021c 0%, #0b0e4b 100%);
  height: 1300px;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  position: relative;
  bottom: 0;
  margin-top: -150px;
  /* negative value of footer height */
  height: 150px;
  clear: both;
  background-color: transparent;
}

.footertext {
  font-family: Cormorant;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #e2e2e2;
  cursor: pointer;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* Homepage Styles */

.homepageheader {
  font-family: Cormorant;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 60px;
}

.homepagesubtext {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #e2e2e2;
}

.imagecolumn {
  margin: 0 auto;
}

.ellipse {
  left: 8.28%;
  right: 85.93%;
  top: 15.29%;
  bottom: -3.53%;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(326.87deg, #f2f2f2 13.78%, rgba(242, 242, 242, 0.2) 93.08%);
  mix-blend-mode: overlay;
  backdrop-filter: blur(4px);
}

.abovecardtext {
  font-family: Cormorant;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;

  color: #e3e3e8;
}

/* FLIP CARD styles */
.flipcard {
  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flipcardinner {
  position: relative;
  text-align: center;
  cursor: pointer;
  transition: transform 1.9s;
  transform-style: preserve-3d;
  width: 100%;
}

.flipcardfront,
.flipcardback {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flipcardfront {
  background-color: transparent;
  backface-visibility: hidden;
}

.flipcardback {
  background-color: transparent;
  transform: rotateY(180deg) translateZ(1px);
  backface-visibility: hidden;
}

/* Onboarding & Categories Styles */

.input {
  width: 704px;
  height: 58px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #f1f1f1;
}

.input::placeholder,
.input[type="text"] {
  font-family: Cormorant;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  color: rgba(241, 241, 241, 0.6);
}

.rightarrow {
  font-size: 80px;
}

.zoom:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.resourcestext {
  font-family: Cormorant;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #f1f1f1;
}

.socialshare {
  width: 175px;
  height: 75px;
  border-radius: 100px;
  border: 1px solid rgba(106, 105, 194, 1);
  margin: 10px;
  cursor: pointer;
}
